.c-price{
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #333333;
}
.c-price_old{
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: line-through;
	color: #A7A4A4;
}
