<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		  name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<link href="styles.css" rel="stylesheet">
	<link href="template_styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="c-breadcrumbs">
		<ul class="c-breadcrumbs__list">
			<li class="c-breadcrumbs__item">
				<a class="c-breadcrumbs__link" href="#">
					<span class="c-breadcrumbs__title">Главная</span>
				</a>
			</li>
			<li class="c-breadcrumbs__item">
				<span class="c-breadcrumbs__title">Корзина</span>
			</li>
		</ul>
	</div>
	<div class="c-content">
		<div class="row">
			<div class="col-8 c-cart">
				<div class="c-cart__title">
					Корзина (5)
				</div>
				<div class="c-cart__item">
					<div class="c-cart-list">
						<div class="c-cart-list__item">
							<div class="row c-cart-element">
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__img" style="background-image: url(images/5.png)"></div>
										<div class="c-cart-element__title">
											Моечная машина высокого давления R-165D, 2200 Вт, 165 бар Lorem ipsum dolor sit
											amet,
											consectetur adipisicing elit. Aperiam ex facere fugit magnam neque officia quia
											voluptates. Aliquid dolore doloremque
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__counter">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="c-cart-element__price">
											<div class="c-price">3 499 ₽</div>
										</div>
										<div class="c-cart-element__close">
											<svg fill="none" height="15" viewBox="0 0 15 15" width="15"
												 xmlns="http://www.w3.org/2000/svg">
												<line stroke="#333333" stroke-width="2" x1="3.69779" x2="10.4287"
													  y1="3.36548"
													  y2="10.7611"/>
												<line stroke="#333333" stroke-width="2" x1="3.36547" x2="10.7611"
													  y1="10.4287"
													  y2="3.69773"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="c-cart-list__item">
							<div class="row c-cart-element">
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__img" style="background-image: url(images/5.png)"></div>
										<div class="c-cart-element__title">
											Моечная машина высокого давления R-165D, 2200 Вт, 165 бар Lorem ipsum dolor sit
											amet,
											consectetur adipisicing elit. Aperiam ex facere fugit magnam neque officia quia
											voluptates. Aliquid dolore doloremque
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__counter">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="c-cart-element__price">
											<div class="c-price">3 499 ₽</div>
										</div>
										<div class="c-cart-element__close">
											<svg fill="none" height="15" viewBox="0 0 15 15" width="15"
												 xmlns="http://www.w3.org/2000/svg">
												<line stroke="#333333" stroke-width="2" x1="3.69779" x2="10.4287"
													  y1="3.36548"
													  y2="10.7611"/>
												<line stroke="#333333" stroke-width="2" x1="3.36547" x2="10.7611"
													  y1="10.4287"
													  y2="3.69773"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="c-cart-list__item">
							<div class="row c-cart-element">
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__img" style="background-image: url(images/5.png)"></div>
										<div class="c-cart-element__title">
											Моечная машина высокого давления R-165D, 2200 Вт, 165 бар Lorem ipsum dolor sit
											amet,
											consectetur adipisicing elit. Aperiam ex facere fugit magnam neque officia quia
											voluptates. Aliquid dolore doloremque
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__counter">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="c-cart-element__price">
											<div class="c-price">3 499 ₽</div>
										</div>
										<div class="c-cart-element__close">
											<svg fill="none" height="15" viewBox="0 0 15 15" width="15"
												 xmlns="http://www.w3.org/2000/svg">
												<line stroke="#333333" stroke-width="2" x1="3.69779" x2="10.4287"
													  y1="3.36548"
													  y2="10.7611"/>
												<line stroke="#333333" stroke-width="2" x1="3.36547" x2="10.7611"
													  y1="10.4287"
													  y2="3.69773"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="c-cart-list__item">
							<div class="row c-cart-element">
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__img" style="background-image: url(images/5.png)"></div>
										<div class="c-cart-element__title">
											Моечная машина высокого давления R-165D, 2200 Вт, 165 бар Lorem ipsum dolor sit
											amet,
											consectetur adipisicing elit. Aperiam ex facere fugit magnam neque officia quia
											voluptates. Aliquid dolore doloremque
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__counter">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="c-cart-element__price">
											<div class="c-price">3 499 ₽</div>
										</div>
										<div class="c-cart-element__close">
											<svg fill="none" height="15" viewBox="0 0 15 15" width="15"
												 xmlns="http://www.w3.org/2000/svg">
												<line stroke="#333333" stroke-width="2" x1="3.69779" x2="10.4287"
													  y1="3.36548"
													  y2="10.7611"/>
												<line stroke="#333333" stroke-width="2" x1="3.36547" x2="10.7611"
													  y1="10.4287"
													  y2="3.69773"/>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="c-cart__item">
					<div class="c-cart__promo">
						<div class="c-input-wrap c-input-wrap_md">
							<input class="c-input-wrap__input c-input c-input_sm c-input_default"
								   id="" name="" placeholder="Введите промокод" type="text">
							<div class="c-input-wrap__btn">
								<span class="">Применить</span>
							</div>
						</div>
					</div>
				</div>
				<div class="c-cart__item">
					<div class="c-cart-list">
						<div class="c-cart-list__item">
							<div class="row c-cart-element c-cart-element_total">
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__title">
											Общая стоимость товаров
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="c-cart-element__item">
										<div class="c-cart-element__price">
											<div class="c-price">3 499 ₽</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="c-cart__btn">
					<button class="c-btn c-btn_default c-btn_md">Перейти к оформлению заказа</button>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</body>
</html>
