<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		  name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<link href="styles.css" rel="stylesheet">
	<link href="template_styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="c-breadcrumbs">
		<ul class="c-breadcrumbs__list">
			<li class="c-breadcrumbs__item">
				<a class="c-breadcrumbs__link" href="#">
					<span class="c-breadcrumbs__title">Главная</span>
				</a>
			</li>
			<li class="c-breadcrumbs__item">
				<a class="c-breadcrumbs__link" href="#">
					<span class="c-breadcrumbs__title">Каталог</span>
				</a>
			</li>
			<li class="c-breadcrumbs__item">
				<a class="c-breadcrumbs__link" href="#">
					<span class="c-breadcrumbs__title">Шины</span>
				</a>
			</li>
			<li class="c-breadcrumbs__item">
				<span class="c-breadcrumbs__title">Шина летняя NOKIAN TYRES Nordman SX 2 185/65 R15 88H</span>
			</li>
		</ul>
	</div>
	<div class="c-content">
		<div class="c-product c-product_detail">
			<div class="c-product__wrap">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="c-product__preview">
							<div class="c-product__discount-label ">
								<div class="c-discount-label"> -20%</div>
							</div>
							<div class="c-product__img"
								 style="background-image: url(images/6.png)"></div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="c-product__name"> NOKIAN TYRES</div>
						<div class="c-product__desc"> Шина летняя NOKIAN TYRES Nordman SX 2 185/65 R15 88H</div>
						<div class="c-product__properties"> Артикул: 1234456734</div>
						<div class="c-product__price">
							<div class="discount-price-markup">
								<div class="discount-price-markup__item c-price_lg c-price">3 499 ₽</div>
								<div class="discount-price-markup__item c-price c-price_old c-price_old-lg">4 499 ₽
								</div>
							</div>
						</div>
						<div class="c-product__controls">
							<div class="product-controls-markup product-controls-markup_lg row">
								<div class="product-controls-markup__item col-4">
									<div class="c-counter c-counter_lg">
										<button class="c-counter__btn " type="button">
											<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
												 width="10" xmlns="http://www.w3.org/2000/svg">
												<line stroke-width="2" x2="10" y1="1" y2="1"></line>
											</svg>
										</button>
										<input class="c-counter__input" type="number" value="1">
										<button class="c-counter__btn " type="button">
											<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
												 width="10" xmlns="http://www.w3.org/2000/svg">
												<line stroke="#333333" stroke-width="2" x1="5" x2="5"
													  y1="-5.24537e-08" y2="10"></line>
												<line stroke-width="2" x2="10" y1="5" y2="5"></line>
											</svg>
										</button>
									</div>
								</div>
								<div class="product-controls-markup__item col-8">
									<button class="c-btn c-btn_default c-btn_lg c-btn_cart">В корзину
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="c-product-review">
				<div class="row">
					<div class="col-6 c-product-review__item c-product-review__item_active" data-text="description">Описание</div>
					<div class="col-6 c-product-review__item" data-text="characters">Характеристики</div>
				</div>
				<div class="c-product-review__text"></div>
			</div>
		<div class="c-block">
			<div class="c-block__title">Популярные товары</div>
			<div class="c-block__content">
				<div class="row product-markup">
					<div class="col-12 col-sm-6 col-xl-3 product-markup__item">
						<div class="c-product">
							<div class="c-product__wrap">
								<div class="c-product__preview">
									<div class="c-product__discount-label ">
										<div class="c-discount-label"> -20%</div>
									</div>
									<div class="c-product__img"
										 style="background-image: url(images/5.png)"></div>
								</div>
								<div class="c-product__name"> Denzel</div>
								<div class="c-product__desc"> Моечная машина высокого давления R-165D, 2200 Вт, 165 бар...
								</div>
								<div class="c-product__properties"> Артикул: 1234456734</div>
								<div class="c-product__price">
									<div class="discount-price-markup">
										<div class="discount-price-markup__item c-price">3 499 ₽</div>
										<div class="discount-price-markup__item c-price c-price_old">4 499 ₽
										</div>
									</div>
								</div>

								<div class="c-product__controls">
									<div class="product-controls-markup row">
										<div class="product-controls-markup__item col-4">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="product-controls-markup__item col-8">
											<button class="c-btn c-btn_default c-btn_md c-btn_cart">В корзину
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3 product-markup__item">
						<div class="c-product">
							<div class="c-product__wrap">
								<div class="c-product__preview">
									<div class="c-product__discount-label ">
										<div class="c-discount-label"> -20%</div>
									</div>
									<div class="c-product__img"
										 style="background-image: url(images/6.png)"></div>
								</div>
								<div class="c-product__name"> KUMHO</div>
								<div class="c-product__desc"> Шина летняя легковая 185/65R14 86T
								</div>
								<div class="c-product__properties"> Артикул: 1234456734</div>
								<div class="c-product__price">
									<div class="discount-price-markup">
										<div class="discount-price-markup__item c-price">3 499 ₽</div>
										<div class="discount-price-markup__item c-price c-price_old">4 499 ₽
										</div>
									</div>
								</div>

								<div class="c-product__controls">
									<div class="product-controls-markup row">
										<div class="product-controls-markup__item col-4">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="product-controls-markup__item col-8">
											<button class="c-btn c-btn_default c-btn_md c-btn_cart">В корзину
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3 product-markup__item">
						<div class="c-product">
							<div class="c-product__wrap">
								<div class="c-product__preview">
									<div class="c-product__discount-label ">
										<div class="c-discount-label"> -20%</div>
									</div>
									<div class="c-product__img"
										 style="background-image: url(images/7.png)"></div>
								</div>
								<div class="c-product__name"> Mobil</div>
								<div class="c-product__desc"> Super 3000 X1 5W-40 синтетика 5W-40 1 л.
								</div>
								<div class="c-product__properties"> Артикул: 1234456734</div>
								<div class="c-product__price">
									<div class="discount-price-markup">
										<div class="discount-price-markup__item c-price">3 499 ₽</div>
										<div class="discount-price-markup__item c-price c-price_old">4 499 ₽
										</div>
									</div>
								</div>

								<div class="c-product__controls">
									<div class="product-controls-markup row">
										<div class="product-controls-markup__item col-4">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="product-controls-markup__item col-8">
											<button class="c-btn c-btn_default c-btn_md c-btn_cart">В корзину
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3 product-markup__item">
						<div class="c-product">
							<div class="c-product__wrap">
								<div class="c-product__preview">
									<div class="c-product__discount-label ">
										<div class="c-discount-label"> -20%</div>
									</div>
									<div class="c-product__img"
										 style="background-image: url(images/1.png)"></div>
								</div>
								<div class="c-product__name"> Shell</div>
								<div class="c-product__desc"> Масло моторное SHELL Helix HX8 5W-40 синтетика 4
									л.
								</div>
								<div class="c-product__properties"> Артикул: 1234456734</div>
								<div class="c-product__price">
									<div class="discount-price-markup">
										<div class="discount-price-markup__item c-price">3 499 ₽</div>
										<div class="discount-price-markup__item c-price c-price_old">4 499 ₽
										</div>
									</div>
								</div>
								<div class="c-product__controls">
									<div class="product-controls-markup row">
										<div class="product-controls-markup__item col-4">
											<div class="c-counter c-counter_sm">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="2" viewBox="0 0 10 2"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke-width="2" x2="10" y1="1" y2="1"></line>
													</svg>
												</button>
												<input class="c-counter__input" type="number" value="1">
												<button class="c-counter__btn " type="button">
													<svg class="c-counter_icon" height="10" viewBox="0 0 10 10"
														 width="10" xmlns="http://www.w3.org/2000/svg">
														<line stroke="#333333" stroke-width="2" x1="5" x2="5"
															  y1="-5.24537e-08" y2="10"></line>
														<line stroke-width="2" x2="10" y1="5" y2="5"></line>
													</svg>
												</button>
											</div>
										</div>
										<div class="product-controls-markup__item col-8">
											<button class="c-btn c-btn_default c-btn_md c-btn_cart">В корзину
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</body>
</html>
