.c-footer{
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 20px;
}
.c-bottom-menu__list{
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #747272;
}

.c-bottom-menu__item{
	margin-bottom: 20px;
}

.c-bottom-menu__link{
	text-decoration: none;
	color: inherit;
}

.c-footer__footer{
	margin-top: 100px;
}
