body {
	font-family: $font-primary;
	font-weight: 400;
	//font-size: 16px;
	//line-height: 22px;
	//background-color: #F8F8F8;
	background-color: #F8F8F8;
}

.c-content {
	padding-top: 50px;
	padding-bottom: 100px;
}

.c-discount-label {
	width: 100%;
	border: 1px solid #E71515;
	border-radius: 13px;
	font-weight: 600;
	font-size: 14px;
	color: #E71515;
	padding: 0 14px;
	min-height: 26px;
	line-height: 26px;
	margin-bottom: 5px;
}

.c-category_sm {
	height: 220px;

	&:before {
		width: 240px;
		height: 240px;
		bottom: -30px;
		right: -40px;
	}
}

.c-category_md {
	height: 220px;

	&:before {
		width: 287px;
		height: 287px;
		left: 231px;
		bottom: -100px;
	}
}

.c-category_lg {
	height: 460px;

	&:before {
		width: 267px;
		height: 267px;
		left: 50%;
		bottom: -60px;
		transform: translateX(-50%);

	}
}

.c-category {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		border-radius: 50%;
		position: absolute;
	}
}

.c-category_default {
	background-color: #FEE485;
	border-radius: 18px;

	&:before {
		background-color: #FFEEB2;
	}
}

.c-left-aside {
	background: #FFFFFF;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
}

.c-left-aside__link {
	text-decoration: none;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	color: inherit;

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

.c-left-aside__filter {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	color: inherit;

	&:not(:last-child) {
		margin-bottom: 40px;
	}
}

.c-main-banner {
	height: 100%;
	max-height: 870px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	position: relative;
}

.с-main-banner__content {
	padding-top: 116px;
	padding-left: 70px;
}

.c-main-banner__title {
	color: #333333;
	font-weight: 600;
	font-size: 40px;
	line-height: 51px;
	max-width: 100%;
	width: 334px;
	margin-bottom: 60px;
}

.c-main-banner__btn {
	max-width: 100%;
	width: 212px;

}

.c-section {
	margin: -35px 0;

	.c-section__item {
		padding: 35px 0;
	}
}

.c-block {

}

.c-block__title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
	color: #333333;
}

.c-block_lg {
	.c-block__title {
		margin-bottom: 40px;
	}
}

.c-block_lg_center {
	.c-block__title {
		text-align: center;
	}
}

.c-block__content {

}

.c-advantage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.c-advantage-wrap {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.c-advantage__img {
	width: 50px;
	height: 50px;
	margin-bottom: 22px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.c-advantage__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #333333;
}

.c-catalog__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
	color: #333333;
	margin-bottom: 20px;
}

.c-catalog__sort {
	margin-bottom: 30px;
	min-height: 40px;
	line-height: 40px;
	border-radius: 22px;
	font-weight: 600;
	font-size: 12px;
	width: 100%;
}

.c-catalog__btn {
	margin: 60px auto 0;
	width: 240px;
	max-width: 100%;
}

.c-dropdown {
	overflow: hidden;
	transition: .1s max-height ease-in;
	user-select: none;
}

.c-dropdown__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 8px;
	color: #333333;
}

.c-dropdown__item {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #A7A4A4;
}

.c-dropdown__icon_opened {
	transform: rotate(180deg);
}

.c-product-review {
	font-size: 18px;
	line-height: 23px;
	color: #A2A2A2;
	font-weight: 600;
	margin-top: 50px;
}

.c-product-review__text {
	font-size: 16px;
	line-height: 24px;
	color: #747272;
	padding-top: 30px;
	height: 300px;
}

.c-product-review__item {
	border-bottom: 2px solid #A2A2A2;
	padding-bottom: 15px;
	cursor: pointer;
	user-select: none;
	transition: all .2s ease-in;

}

.c-product-review__item_active {
	border-bottom: 2px solid #FED308;
	color: #333333;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: #8021d3;
}

.c-cart-element {
	height: 62px;
	background-color: #FFFFFF;
	color: #333333;
}

.c-cart-element__item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

.c-cart-element_total {
	background-color: #FFF7DB;
}

.c-cart-element__img {
	width: 62px;
	height: 100%;
	margin-right: 28px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.c-cart-element__title {
	width: 300px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	max-height: 2.5em;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.c-cart-element__counter {
	margin-right: 80px;
	width: 80px;
}

.c-cart-element__price {
	width: 68px;
	margin-right: 78px;
}

.c-cart-element__close {
	width: 15px;
	height: 15px;
}

.c-cart-list {
}

.c-cart-list__item {
	&:not(:last-child) {
		margin-bottom: 6px;
	}
}

.c-cart {
	margin-bottom: -15px;
	margin-top: -15px;
}

.c-cart__item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.c-cart__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
	color: #333333;
	margin-bottom: 40px;
}

.c-cart__promo {
	width: 400px;
	margin-left: auto;
}

.c-cart__btn {
	width: 352px;
	margin: 60px auto auto;
}


.c-order-form__section:not(:last-child) {
	margin-bottom: 40px;
}

.c-order-form__submit {
	margin-top: 60px;
	width: 230px;
	max-width: 100%;
}

.c-order-form__main-title {
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
	color: #333333;
	margin-bottom: 40px;
}

.c-order-form__title {
	font-weight: 800;
	font-size: 18px;
	line-height: 23px;
	color: #333333;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	padding: 16px 20px;
}

.c-order-form__radio {
	width: 300px;
}

.c-order-radio {
	max-width: 100%;
	height: 80px;
	display: block;
	background: #FFFFFF;
	border: 1px solid #A7A4A4;
	border-radius: 20px;
	padding: 20px;
	cursor: pointer;

}

.c-order-radio__name {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	display: block;
	margin-bottom: 5px;
}

.c-order-radio__desc {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #747272;
	display: block;
}

.c-order-radio_active {
	border: 1px solid $color-primary;

	.c-order-radio__name {
		color: $color-primary;
	}
}

.js-catalog {
	position: absolute;
	z-index: 100;
}

.hidden {
	display: none;
}

#carousel-custom-dots {
	.owl-dot {
		span {
			background: #FFEEB2;
		}
	}

	.owl-dot.active {
		span{
			background: #FED308;
			width: 28px;
			height: 15px;
			border-radius: 8px;
		}
	}
}
