.c-breadcrumbs {
	margin-top: 20px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #A7A4A4;
}

.c-breadcrumbs__item + .c-breadcrumbs__item:before {
	content: '-';
}

.c-breadcrumbs__item {
	display: inline;
	word-break: break-all;
}

.c-breadcrumbs__link {
	text-decoration: none;
	color: inherit;
	transition: text-shadow .2s ease;

	&:hover, &:focus {
		text-shadow: 1px 0 0 currentColor;

	}

}

.breadcrumbs__item:last-child {
	.breadcrumbs__link {
		pointer-events: none;
		cursor: default;
	}
}
